nav, footer, aside {
	visibility: hidden;
}
article {
	font-family: serif;
}
aside div figure img {
	visibility: hidden;
}
video {
	display: none !important;
}
iframe {
	display: none;
}
.h3Cont {
	display: none;
}
.demoHeader {
	display: none;
}
