*
{
	margin: 0;
	padding: 0;
}

html
{
	font-family: verdana;
	font-size: 1em;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary
{
  display: block;
}

video
{
  display: inline-block;
  vertical-align: baseline;
}

.container
{
	padding: 1em;
}

header
{
	position: relative;
	width: 100%;
	top: 0;
	background-color: rgb(26, 26, 26);
}

@font-face
{
	font-family: headTitle;
	color: rgba(255, 255, 255, 0.2);
	src: url(fonts/flipside.ttf);
}

@font-face
{
	font-family: headPage;
	color: color: rgb(38, 38 , 38);
	src: url(fonts/ABeeZee-Regular.ttf);
}

h1
{
	font-size: 2em;
	font-family: headTitle;
	text-transform: uppercase;
	text-align: center;
	color: rgba(255, 255, 255, 0.8);
}

nav
{
	background-color: rgb(26, 26, 26);
}

/* Hamburger ikonet*/
  .icon a{
		text-decoration: none;
		color: #f2f2f2;
		/*font-size: 1em;*/
    /*display: inline-block;*/
		font-size: 2em;
		position: relative;
		border: 1px solid white;
		border-radius: 0.2em;
		padding: 0.1em 0.2em;
  }

/* Hovedmeny elementer*/
ul.topnav li a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 1em;
		padding:0.3em;
		text-align: center;
}


/* Desktop meny skjules*/
  ul.topnav li {
		display: none;
	}


/* Innholdet i hamburgermeny */
  ul.topnav.responsive {
    background-color: rgb(26, 26, 26);
		position: absolute;  /* Gjør at hamburgermeny blir dropdownmeny */
	}

  ul.topnav.responsive li {
    display: block;
		text-align: left;
		padding-bottom: 0.3em;
  }



input
{
	outline: none;
	margin-right: -1em;
}

#search input::-webkit-search-decoration, input::-webkit-search-cancel-button
input[type=search]
{
	float: right;
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}

input::-webkit-search-decoration, input::-webkit-search-cancel-button
{
	display: none;
}

#search input[type=search]
{
	float: right;
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
	width: 15px;
	color: transparent;
	cursor: pointer;
	background: url(icons/search-icon.png) no-repeat 9px center;
	border: solid 1px rgb(255, 255, 255);
	padding: 9px 10px 9px 13px;

	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;

	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}

#search input[type=search]:focus
{
	width: 130px;
	color: rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
	cursor: auto;
	padding-left: 32px;
}

#search input:-moz-placeholder
{
	color: transparent;
}

#search input::-webkit-input-placeholder
{
	color: transparent;
}

main
{
	clear: both;
	width: 100%;
	color: rgb(38, 38 , 38);
}

main .container
{
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 1em;
}

main h2
{
	font-size: 1.5em;
	text-align: center;
	font-family: headPage;
}

article
{
	margin: 0.5em;
	font-size: 0.8em;
	font-color: rgb(255,255,255);
}

article h2
{
	font-color: inherit;
}

figure > img /* alle img tagger under figure skal v�re fullbredde p� mobil */
{
	width: 100%;
}

aside
{
	width: 100%;
	background-color: rgb(26, 26, 26);
}

aside div figure img /* alle img tagger i aside skal v�re ikoner */
{
	width: 1.5em;
	height: 1.5em;
	margin: 5px;
	float: left;
	border: 1px solid black;
}

aside section
{
	background-color: transparent;
	font-size: 0.5rem;
	color: rgb(255, 255, 255);
}

section > blockquote
{
	padding: 0.5em;
	font-style: italic;
	text-align: right;
	line-height: 1em;
}

#rss
{
	padding: 1em;
	font-size: 0.65em;
	color: rgb(255, 255, 255);
	background-color: transparent;
}

footer
{
	clear: both;
	position: relative;
	width: 100%;
	bottom: 0;
	background-color: rgb(26, 26, 26);
}

footer p
{
	padding: 1em;
	font-size: 0.65em;
	color: rgb(255, 255, 255);
	background-color: transparent;
}
