*
{
	margin: 0;
	padding: 0;
}

html
{
	font-family: verdana;
	font-size: 1em;
}

body
{
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary
{
  display: block;
}

video
{
  display: inline-block;
  vertical-align: baseline;
}

.container
{
	padding: 1em;
}

header
{
	position: relative;
	width: 100%;
	top: 0;
	background-color: rgb(26, 26, 26);
}

@font-face
{
	font-family: headTitle;
	src: url(fonts/flipside.ttf);
}

@font-face
{
	font-family: headPage;
	src: url(fonts/ABeeZee-Regular.ttf);
}

@font-face
{
	font-family: navFont;
	src: url(fonts/bitwise.ttf);
}

h1
{
	font-size: 2em;
	font-family: headTitle;
	text-transform: uppercase;
	text-align: center;
	color: rgba(255, 255, 255, 0.8);
	padding:0.3rem 0.2rem 0 0.2rem;
}

nav
{
	width:100%;
	background-color: rgb(26, 26, 26);
	padding: 0.4em 0;
	overflow: auto;
}
/* Hamburger ikonet*/
.icon a{
	float: left;
	text-decoration: none;
	color: #f2f2f2;
	font-size: 2em;
	position: relative;
	border: 1px solid white;
	border-radius: 0.2em;
	padding: 0.1em 0.2em;
	margin-left: 0.1em;
}

/* Desktop meny skjules*/
ul.topnav li {
	display: none;
}

/* Dropdown menyen */
ul.topnav.responsive {
	margin-top: 3em;
	position: absolute;  /* Gjør at hamburgermeny blir dropdownmeny */
	background: rgb(26, 26, 26); /* hvis browser ikke støtter gradient */
	background: linear-gradient(-90deg, rgb(90, 90, 90), rgb(26, 26, 26));
	border: 0.2em groove rgb(190, 190, 190);
	border-radius: 0.3em;
}

ul.topnav.responsive li {
  display: block;
	text-align: left;
  font-size: 1em;
	padding:0.3em;
	border-bottom: 0.1em ridge rgb(190, 190, 190);
}

ul.topnav.responsive li:last-child{
	border:none;
}

ul.topnav.responsive li:hover{
	background:	rgb(60, 60, 60);
}

ul.topnav.responsive li a {
	text-decoration: none;
	color: #f2f2f2;
}

ul.topnav.responsive li ul li{
	padding-top: 0.3em;
	padding-left: 0.7em;
	border:none;
}

ul.topnav.responsive li ul li:hover{
	background:	rgb(90, 90, 90);
}

input
{
	outline: none;
	margin: 1em 1em 0 0;

}

#search input[type=search]
{
	float: right;
	-webkit-appearance: textfield;
	box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
	width: 15px;
	color: transparent;
	cursor: pointer;
	background: url(icons/search-icon.png) no-repeat 9px center;
	border: solid 1px rgb(255, 255, 255);
	padding: 9px 10px 9px 13px;
	border-radius: 10em;
	transition: all .5s;
}

#search input[type=search]:focus
{
	width: 130px;
	color: rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
	cursor: auto;
	padding-left: 32px;
}

main
{
	clear: both;
	width: 100%;
	color: rgb(38, 38 , 38);
	flex: 1;
}

main .container
{
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 1em;
}

main h2
{
	font-size: 1.5em;
	text-align: center;
	font-family: headPage;
}

article
{
	margin: 0.5em;
	font-size: 0.8em;
	margin-bottom: 1em;
}

figure > img /* alle img tagger under figure skal v�re fullbredde p� mobil */
{
	width: 100%;
}

.demoHeader {
	text-align:center;
	font: 1.2em Copperplate;
	font-weight: bold;
	font-style: italic;
}

#demoMainHeader {
	text-align:center;
}

.h3Cont {
	text-align:center;
}

video {
	width: 100%;
	height: 250px;
}

iframe {
	width:100%;
	height:250px;
}

#contentprint
{
	position: relative;
	float: right;
	margin-top: -0.5em;
	margin-right: -0.5em;
	height: 25px;
	width: 25px;
}

aside
{
	width: 100%;
	background-color: rgb(26, 26, 26);
}

aside div figure img /* alle img tagger i aside skal v�re ikoner */
{
	width: 1.5em;
	height: 1.5em;
	margin: -5px 5px 5px 5px;
	float: left;
	border: 1px solid black;
}

aside div p
{
	display: none;
}

aside section
{
	background-color: transparent;
	font-size: 0.5rem;
	color: rgb(255, 255, 255);
}

section > blockquote
{
	padding: 0.5em;
	font-style: italic;
	text-align: right;
	line-height: 1em;
}

#rss
{
	padding: 1em;
	font-size: 0.65em;
	color: rgb(255, 255, 255);
	background-color: transparent;
}

footer
{
	clear: both;
	position: relative;
	width: 100%;
	bottom: 0;
	background-color: rgb(26, 26, 26);
}

footer .container
{
	padding: 0.5em;
}

footer p
{
	padding: 1em;
	font-size: 0.65em;
	color: rgb(255, 255, 255);
	background-color: transparent;
}

@media only screen and (min-width: 580px)
{
	html
	{
		background-size: 100vh 100vw;
	}
	
	aside
	{
		bottom: 2.3em;
	}
	
	aside .container
	{
		padding-top: 0.5em;
		padding-bottom: 1em;
	}

}

@media only screen and (min-width: 768px)
{
	html
	{
		background-image: url(img/bg.png);
		background-size: 100vw 100vh;
	}

	main .container
	{
		width: 75%;
		/* max-height: 457px; */
		border-left: 1px dotted black;
		border-right:  1px dotted black;
		margin: 0 auto 0 auto;
		background-color: rgb(255, 255, 255);
	}
/* 	#maindiv
	{
		overflow: scroll;
	} */

	video {
		height: 350px;
	}

	aside
	{
		bottom: 2.3em;
	}

	aside .container
	{
		clear: both;
		position: relative;
		background-color: rgb(26, 26, 26);
		border: none;
	}

	footer
	{
		bottom: 0;
		/* position: absolute; */
	}
}

/* laptop */
@media only screen and (min-width: 992px)
{
	html
	{
		background-size: cover;
	}

 	.icon
	{
		display: none;
	}

	nav
	{
		width:100%;
		background-color: rgb(26, 26, 26);
		overflow: visible;
		padding: 1em 0;
		display: block;
	}

 	ul.topnav
	{
		float: left;
		list-style: none;
		position: relative;
		margin: -1.2em auto 0 10%;
		padding: 1em;
	}

	ul.topnav li
	{
		display: inline-block;
	}

	ul.topnav li #colon
	{
		visibility: hidden;
	}

	ul.topnav li a
	{
		display: block;
		width: 120px;
		text-decoration: none;
		text-align: center;
		color: white;
		font-family: navFont;
		font-size: 1.3em;
		padding: 0.5em;
	}

	ul.topnav li ul
	{
		display: none;
		/*position: absolute;*/
	}

	ul.topnav li ul li
	{
		display: block;
	}
	ul.topnav li:hover {
		background-color: #007726;
		border-radius: 5px;
	}
	ul.topnav li:hover ul
	{
		display: block;
		position: absolute;
	}

	ul.topnav li ul li a
	{
		color: rgb(0, 0, 0);
		background-color: lightgrey;
		font-family: verdana;
		font-size: 0.9em;
		width: 150%;
	}

	/* dropdown listeelement, link besøkt */
	ul.topnav li ul li:visited a
	{
		color: black;
	}

	/* dropdown listeelement, link hover */
	ul.topnav li ul li a:hover
	{
		color: rgb(255, 255, 255);
		background-color: #007726;
	}
	#search
	{
		display: inline-block;
	}

	#search input[type]
	{
		width: 130px;
		color: rgb(0, 0, 0);
		background-color: rgb(255, 255, 255);
		cursor: auto;
		float: left;
		margin: -0.2em 0 0 60%;
		box-sizing: border-box;
	}
	
	main
	{
		width: 100%;
	}

	main .container
	{
		float: left;
		display: inline-block;
		width: 650px;
		border-left: 1px dotted black;
		border-right:  1px dotted black;
		margin: 0 auto 0 10%;
		background-color: rgb(255, 255, 255);
	}

	iframe
	{
		width:100%;
		height:400px;
	}
	video
	{
		width:100%;
		height:400px;
	}
	aside
	{
		display: inline-block;
		width: 180px;
		float: left;
		margin: 0 auto auto 10px;
		bottom: auto;

	}

	aside .container
	{
		width: auto;
		border: none;
		margin: 0 auto;
		background-color: rgb(211,211,211);
	}

	aside section
	{
		background-color: transparent;
		font-size: 0.5rem;
		color: rgb(0, 0, 0);
	}

	aside div > figure:first-child
	{
		margin-top: 10px;
	}

	aside div figure img
	{
		clear: both;
		margin: 5px;
	}

	aside div p
	{
		display: inline-block;
		width: 75%;
		margin-top: 1em;
		margin-bottom: 1em;
		line-height: 1;
		font-size: 0.65em;
	}

	aside div blockquote
	{
		clear: both;
		text-align: left;
		font-size: 1.3em;
	}

	footer
	{
		bottom: 0;
	/* 	position: absolute; */
	}


	footer .container
	{
		padding: 1em;
	}

}
/* desktop */
@media only screen and (min-width: 1200px)
{
	main > .container
	{
		width: 750px;
	}

	#search input[type]
	{
		margin: -0.2em 0 0 0;
	}
	iframe
	{
		width:100%;
		height:450px;
	}
	video
	{
		width:100%;
		height:450px;
	}
}

@media only screen and (min-width: 1400px)
{
	main > .container
	{
		width: 900px;
	}

	#search input[type]
	{
		margin: -0.2em 0 0 0;
	}
	
	video
	{
		height: 500px;
	}
	
	iframe
	{
		width:100%;
		height:500px;
	}
}

@media only screen and (min-width: 1600px)
{
	main > .container
	{
		width: 1200px;
	}

	#search input[type]
	{
		margin: -0.2em 0 0 0;
	}
	
	video
	{
		height: 600px;
	}
	
	iframe
	{
		width:100%;
		height:600px;
	}
}
