*
{
	padding: 0;
	margin: 0;
}

header, nav, main, aside, article, section, footer, figure
{
	display: block;
}

@font-face
{
	font-family: headTitle;
	color: rgba(0, 0, 0, 0.2);
	src: url(../flipside.ttf);
}

header, nav
{
	width: 100%;
	background-color: rgb(26, 26, 26);
	color: #FFFFFF;
	display: inline-block;
}

h1 
{
	font-family: headTitle;
	text-transform: uppercase;
	text-align: center;
}

.search-form .form-group {
  float: right;
  transition: all 0.35s, border-radius 0s;
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
  margin: 5px;
  
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
  
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 65%;
  border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #3596e0;
  left: initial;
  font-size: 14px;
}

main
{
	font-family: verdana;
	font-size: 0.80rem;
	padding: 1rem;
	-webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 1.5s; /* Firefox < 16 */
	-ms-animation: fadein 1.5s; /* Internet Explorer */
	-o-animation: fadein 1.5s; /* Opera < 12.1 */
    animation: fadein 1.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

article
{
	width: 100%;
	padding: inherit;
}

article img
{
	width: 100%;	
}

aside
{
	position: absolute;
	clear: both;
	width: 100%;
	background-color: rgb(26, 26, 26);
	color: #FFFFFF;
}

footer
{
	width: 100%;
	background-color: rgb(26, 26, 26);
	color: #FFFFFF;
	bottom: 0;
	position: absolute;
	clear: both;
	padding: 5px;
	font-family: verdana;
	font-size: 0.7rem;
}

/* tablet vertikal */
@media (min-width: 768px) 
{
	
}

/* tablet horisontal */
@media(min-width: 992px) 
{
	
}

/* desktop */
@media(min-width: 1200px)
{
	
}